.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "sidebar main";
  padding: 1rem;
  gap: 3rem;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.chatSection {
  margin-top: 1rem;
}

.newChat {
  display: flex;
  font-weight: 700;
  color: var(--primary-color);
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.listLink {
  display: block;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  padding: 0.5rem 0.5rem 0.2rem;
  border-radius: 0.5rem;
}

.listLink:hover {
  background-color: var(--tertiary-color);
}

.activeLink {
  background-color: var(--tertiary-color);
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    gap: 0.5rem
  }

  .main {
    padding: 0 1rem;
  }
}