.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "sidebar" "main";
  min-height: 100vh;
  min-height: 100dvh;
  justify-items: start;
  align-items: start;
  gap: 2rem;
  padding: 1rem;
}

.chatItem {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 0.5rem;
}

.button {
  display: block;
  text-decoration: none;
  color: inherit;
  background-color: var(--secondary-color);
  padding: 0.5rem 1rem;
  justify-self: center;
}

.button:hover {
  opacity: 0.75;
}

.active {
  background-color: var(--tertiary-color);
  font-weight: 700;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    gap: 0.5rem
  }
}