.wrapper {
  grid-area: footer;
  font-weight: 700;
  color: var(--secondary-color);
  background-color: var(--background-color);
  width: 90%;
  max-width: 1500px;
  min-height: 30px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .wrapper {
    width: 95%;
    min-height: 60px;
    text-align: center;
    flex-direction: column;
    gap: 0.5rem
  }
}
