.wrapper {
  grid-area: menu;
  background-color: var(--tertiary-color);
  width: 100%;
  max-width: 300px;
  height: 100%;
  padding: 1rem;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  z-index: 100;
}

.linkTitle {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  padding: 1rem 0.5rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.active {
  font-size: 1.6rem;
}

.linkTitle:hover {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .wrapper {
    /* Do we need both of these? */
    height: auto;
    min-height: 6rem;
    padding: 0.5rem;
    flex-direction: row;
    gap: 0.5rem;
    position: relative;
  }

  .linkTitle {
    font-size: 1.2rem;
    padding: 0.7rem 0.3rem;
  }
}
