:root {
  --text-color: rgb(27, 18, 18);
  --background-color: 	rgb(255, 244, 236);
  --primary-color: 	rgb(138, 43, 14);
  --secondary-color: rgb(185, 132, 115);
  --tertiary-color:	rgb(210, 180, 140);
  --error-text-color: 	rgb(255, 244, 236);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}
  
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
}

.wrapperApp {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "menu"
    "header"
    "main"
    "footer";
  min-height: 100vh;
  min-height: 100dvh;
}

.mainApp {
  grid-area: main;
  margin: 0 auto;
  max-width: 1500px;
  width: 90%;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: var(--primary-color);
  margin: 1.25rem 0;
}

h2 {
  font-size: 2.5rem;
  color: var(--secondary-color);
  margin: 1rem 0;
}

h3 {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin: 0.75rem 0;
}

h4 {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin: 0.5rem 0;
}

p {
  line-height: 1.5;
  margin: 0.5rem 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

form {
  background-color: var(--primary-color);
  width: max-content;
  margin: auto;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--tertiary-color);
  margin-bottom: 0.5rem;
}

input {
  font-family: inherit;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  color: var(--primary-color);
  background-color: var(--background-color);
  border: none;
  outline: none;
  padding: 0.6rem 1.2rem;
  min-width: 400px;
}

.labelInputBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonBox {
  align-self: center;
}

.button {
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--background-color);
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  &:hover {
    color: var(--primary-color);
    background-color: var(--background-color);
  }
}

.errorBox {
  display: flex;
  justify-content: flex-start;
}

.errors {
  color: var(--error-text-color);
  font-style: italic;
  margin-top: 0.5rem;
  max-width: 425px;
}

@media (max-width: 768px) {
  .mainApp {
    max-width: 95%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.2rem;
    margin: 1rem 0;
  }

  h2 {
    font-size: 1.8rem;
    margin: 0.75rem 0;
  }

  h3 {
    font-size: 1.4rem;
    margin: 0.5rem 0;
  }

  h4 {
    margin: 0.25rem 0;
  }

  p {
    line-height: 1.2;
    margin: 0.25rem 0;
  }
}
